@model Bookmart.ViewModel.NewSubscriberViewModel
@{
    ViewBag.Title = "New Suvscriber";
}

<br/>

    <h2> New Subscriber </h2>

<br/>

<div class="dvContainer">
    @using (Html.BeginForm("Save", "Subscribers"))
    {
        <div class="form-group">
            @Html.LabelFor(b => b.subscriber.Name)
            @Html.TextBoxFor(b => b.subscriber.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.subscriber.Name)
        </div>
        <div class="form-group">
            @Html.LabelFor(b => b.subscriber.BirthDate)
            @Html.TextBoxFor(b => b.subscriber.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.subscriber.BirthDate)
        </div>
        <div class="form-group">
            @Html.Label("Subscription", "Subscription")
            @Html.DropDownListFor(b => b.subscriber.SubscriptionId, new SelectList(Model.subscriptions, "Id", "SubscriptionType"), "Select Subscription", new { @class = "form-control" })
            @Html.ValidationMessageFor(b => b.subscriber.SubscriptionId)
        </div>
        if (Model.subscriber != null)
        {
                @Html.HiddenFor(b => b.subscriber.Id)
        }
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }
</div>
